body{
    background-color: black;
    color: #1798c1;
    text-align: center;
    font-family: "Averia Serif Libre";
}

#box{
    text-align: center;
}

.numb{
    text-align: center;
    height: 30px; 
    margin-top: 5px;
    margin-bottom: 10px;
    width: 50px;
    font-size: 17px;
    border: 1.0px solid #1798c1;
    background-color: #000000;
    color: white;
}

button{
    margin-top: 10px;
    font-size: 40px;
    background-color:#1798c1;
    border: 1.0px solid #1798c1;
}